<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="twitterConfig" type="NoSqlExplorer.TwitterReader.Configuration.TwitterConfigSection, NoSqlExplorer.TwitterReader"/>
    <section name="dockerConfig" type="NoSqlExplorer.DockerAdapter.Configuration.DockerConfigSection, NoSqlExplorer.DockerAdapter"/>
    <section name="azureConfig" type="NoSqlExplorer.AzureAdapter.Configuration.AzureConfigSection, NoSqlExplorer.AzureAdapter"/>
  </configSections>

  <twitterConfig configSource="Config\Twitter.config" />
  <dockerConfig configSource="Config\Docker.config" />
  <azureConfig configSource="Config\Azure.config" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>