<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="twitter:auth-url" value="https://twitter.crate.io/api/v1/auth"/>
    <add key="twitter:api-url" value="https://twitter.crate.io/api/v1/sample"/>
    <add key="twitter:username" value="@TestUse10848114"/>
  </appSettings>
</configuration>