<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dockerConfig" type="NoSqlExplorer.DockerAdapter.ConfigSection.DockerConfigSection, NoSqlExplorer.DockerAdapter"/>
  </configSections>

  <appSettings file="Secrets.config">
    <add key="twitter:feed-url" value="https://stream.twitter.com/1.1/statuses/sample.json"/>
  </appSettings>

  <dockerConfig>
    <dockerInstances>
      <dockerInstance host="YOUR-HOST-1" port="1111" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
      <dockerInstance host="YOUR-HOST-2" port="2222" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
      <dockerInstance host="YOUR-HOST-3" port="3333" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
      <dockerInstance host="YOUR-HOST-4" port="4444" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
    </dockerInstances>
  </dockerConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>