<?xml version="1.0" encoding="utf-8" ?>
<dockerConfig>
  <dockerInstances>
    <dockerInstance host="YOUR-HOST-1" port="1111" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
    <dockerInstance host="YOUR-HOST-2" port="2222" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
    <dockerInstance host="YOUR-HOST-3" port="3333" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
    <dockerInstance host="YOUR-HOST-4" port="4444" username="YOUR-USERNAME" password="YOUR-PASSWORD" />
  </dockerInstances>
  <dockerContainer>
    <dockerContainer name="/crate" port="4200" />
    <dockerContainer name="/mongo" port="27017" />
  </dockerContainer>
</dockerConfig>
